:root {
    --color-1: #0d1b2a;
    --color-2: #1b263b;
    --color-3: #415a77;
    --color-4: #778da9;
    --color-5: #e0e1dd;
    --color-6: #b4b4b4;
    --color-7: #797979;

    --colorFondo-1: #0d1b2adc;
    --colorFondo-2: #272727f3;
}